:root {
	--primary-color: #17a2b8;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

html {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}


::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: --primary-color;
	opacity: 0.6;
}

.warning {
	color: yellow;
	margin: 0 auto;
}

.alert {
	z-index: 1;
	width: 300px;

	padding: 0.5rem;
	margin: auto;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.medium {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.normal {
	font-size: 1rem;
}

.small {
	font-size: 0.5rem;
}

.btn {
	display: inline-block;
	background: #f4f4f4;
	color: #333;
	padding: 0.4rem .2rem;
	border: none;
	cursor: pointer;
	font-size: .7rem;
	margin-right: 0.2rem;
	outline: none;
	transition: all 0.1s ease-in;
}
.btn.btn-primary {
	background-color: #17a2b8;
	color: #fff;
}
.btn.btn-primary:hover {
	background: var(--dark-color);
}

.hover {
	cursor: pointer;
}
.hover:hover{
	
	color: var(--primary-color);
}

.hover-danger {
	cursor: pointer;
}
.hover-danger:hover{
	
	color: var(--danger-color);
}

.dark-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
}

a {
	text-decoration: none;
	color: #17a2b8;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px #17a2b8;
	opacity: 0.9;
	background-color: #343a40;
	color: #fff;
	
}
.nav-links ul {
	display: flex;
	flex-wrap: wrap;
	
}
.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}
.navbar a:hover {
	color: #17a2b8;
}
.notifications-display {
	color: --light-color;
	background-color: var(--dark-color);
	position: absolute;
	top: 4rem;
	right: 4rem;
	font-size: 1rem;
	padding: 0.25rem;
	border-radius: 10px;
	border: #17a2b8 1px solid;

	z-index: 1;
}
.notification{
	border-bottom: var(--dark-color) 1px solid;
	padding: .5rem;
	color: yellow;
	
}

.notification:hover{
	color: var(--primary-color);
	cursor: pointer;
	
}

.notifications {
	color: yellow;
	
}

.homepage {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: relative;
	height: 100vh;
}
.homepage-inner {
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* AUTH FORMS */

.auth-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.auth-container p {
	color: var(--light-color);
}
.auth-form {
	color: var(--light-color);
	display: flex;
	flex-direction: column;

	max-width: 500px;
	min-width: 300px;
}

.auth-button {
	margin: 1rem auto;
	text-align: center;
}

.auth-form .medium {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
.auth-form input {
	font-size: 1.5rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.background {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.homepage-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* EDIT PROFILES FORM */

.edit-profile input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}

.edit-profile textarea {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}
.edit-profile input {
	font-size: 1rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

/* PROFILE PAGE */

.profile-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
}

.profile-container {
	border: #f4f4f4 solid 1px;
	color: var(--light-color);
	height: auto;
	min-height: 6;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
	background-color: var(--dark-color);
	overflow: auto;
}

.profile-banner {
	display: flex;
	margin: 0 auto;
}
.profile-banner p {
	

	text-align: center;
	margin: auto;
	margin-left: 2rem;
}

.profile-banner img {
	border: #17a2b8 1px solid;
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	font-size: 2rem;
	background-color: #0e1318;
}

.profile-info {
	/* border: #17a2b8 1px solid; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-top: 2rem;
}

.profile-info-section {
	/* padding: 1rem; */
	/* border: #17a2b8 1px solid; */
	height: auto;
	min-width: 40%;
	width: 400px;
	margin-bottom: 2rem;
}

.profile-info-section fieldset {
	/* border: #17a2b8 1px solid; */
	/* padding: 1rem 0; */
	width: 100%;
}

.profile-info-section fieldset p {
	padding: 0.2rem;
}

.heading {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.edit-profile {
	width: 80%;
	max-width: 1000px;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.fieldset-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.fieldset-container textarea {
	width: 80%;
}

.fieldset-container input {
	width: 80%;
}

.fieldset-container fieldset {
	border: #f4f4f4 solid 1px;
	padding: 1rem;
	width: 40%;
	margin: 1rem;
	min-width: 400px;
}

/* PROFILES PAGE */
.profiles-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 4rem;
}

.profiles {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	overflow: auto;
}

.profiles-inner {
	
	color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}

.small-profile {
	width: 40%;
	margin-bottom: 4rem;
	min-width: 400px;
	border-radius: 2rem;
	padding: 1rem;
	
	background-color: #3f474e;
	display: flex;
}

.sm-pr-info {
	
	align-self: center;
	margin: 0 auto;
	padding: 0 0.5rem;
}

.sm-pr-field {
	margin-bottom: 1rem;
}

/* POSTS PAGES */

.posts-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #18191a;
	overflow: auto;
}

.submit-post {
	width: 80%;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	border-radius: 2rem;
	flex-direction: column;
}

.posts-inner {
	
	color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}

.post-field {
	display: flex;
	padding: 1rem;
}

.post-image {
	
	width: 90%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.subject {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	
	
}
.post-delete {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	
	
	justify-content: space-evenly;
}
.poster-info{
	padding-left: 1rem;
	align-self: center;
}

.img-thumb{
	height: 100px;
	width: 100px;
	background-color: var(--primary-color);
}

.body {
	margin: 1rem;
	text-align: left;

	line-height: 1.5;
	white-space: pre-wrap;
}

.post-buttons {
	margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
	padding-top: .2rem;
	

}

.posts {
	margin-top: 1rem;
	width: 80%;
	background-color: #3f474e;

	border-radius: 2rem;
	/* border: #f4f4f4 solid 1px; */
}





.posts-inner textarea,
.posts-inner input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	width: 100%;
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}

.posts-inner textarea {
	height: 5rem;
}

.likes {
	margin-right: 1rem;
}

.profile-img {
	height: 200px;
	width: 200px;
}


.profile-img img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
	
	
	
}

.simple-file-container {
	width: 100px;
}

.likes-counter{
	
	text-align: left;
	width: fit-content;
	margin-left: .5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	
}
.likes-counter:hover{
	color: yellow;
}

.likes-display {
	color: yellow;
	background-color: var(--primary-color);
	position: absolute;
	padding: 0.25rem;
	border-radius: 10px;

	z-index: 1;
}

.fa-solid{
	font-size: 1rem;
	
}
.fa{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
		
	}

	.logo{
		margin-bottom: 1rem;
	}

	.navbar ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.nav-links{
		display: flex;
		
		justify-content: space-evenly;
	}

	

	.profiles-container {
		background-color: rgba(0, 0, 0, 0.6);
		font-size: 3rem;
		color: var(--light-color);
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-top: 4rem;
	}
	.small-profile {
		
		margin-bottom: 2rem;
		width: 90%;
		min-width:300px;
		border-radius: 2rem;
		padding: 1rem;
		
		background-color: #3f474e;
		display: flex;
		
	}
	
	.sm-pr-info {
		
		align-self: center;
		margin: 0 auto;
		padding: 0 0.5rem;
	}
	.profile-img {
		height: 120px;
		width: 120px;
	}
	.profile-img img {
		width: 120px;
		height: 120px;
		object-fit: cover;
		object-position: center;
		border-radius: 2rem;
	}
.profiles-inner {
		
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 4rem auto;
		
		
		text-align: center;
		padding-top: 2rem;
	}
	.profiles {
		padding-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		justify-content: space-around;
		overflow: auto;
	}

	/* .post-buttons {
		display: flex;
		margin-bottom: 1rem;
		margin-right: 2rem;
		text-align: right;
	} */

	.img-thumb{
		min-width: 75px;
		min-height: 75px;
		height: 75px;
		width: 75px;
		background-color: var(--primary-color);
	}


	.profile-banner {
		display: flex;
		
		
		margin: 0 auto;
	}
	.profile-banner p {
		
	border: #17a2b8 solid 1px;
		text-align: center;
		margin: auto;
		margin-right: 1rem;
		max-width: 40%;
		
	}

	.margin-top{
		margin-top: 10rem;
	}
	
	.profile-banner img {
		border: #17a2b8 1px solid;
		min-width: 150px;
		max-width: 150px;
		min-height: 150px;
		font-size: 2rem;
		background-color: #0e1318;
		margin-right: 2rem;
	}
	.notifications-display {
		color: --light-color;
		background-color: var(--dark-color);
		position: absolute;
		top: 7rem;
		right: 4rem;
		font-size: 1rem;
		padding: 0.25rem;
		border-radius: 10px;
		border: #17a2b8 1px solid;
	
		z-index: 1;

	}


	
	


}
