:root {
	--primary-color: #17a2b8;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #17a2b8;
	opacity: 1; /* Firefox */
}

.warning {
	color: yellow;
	margin: 0 auto;
}

.likes-display {
	color: yellow;
	position: absolute;

	z-index: 1;
}

.alert {
	z-index: 1;
	width: 300px;

	padding: 0.5rem;
	margin: auto;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.alertContainer {
	display: absolute;
	top: 1rem;
	left: 0;
	margin: 1rem auto;
	display: inline-flex;
	width: 100%;
}

.container {
	max-width: 1100px;
	margin: auto;
}
.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.lead {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.bg-primary {
	background-color: #17a2b8;
	color: #fff;
}
.bg-light {
	background-color: #f4f4f4;
	color: #333;
	border: #ccc 1px solid;
}
.bg-dark {
	background-color: #343a40;
	color: #fff;
}
.bg-success {
	background-color: #28a745;
	color: #fff;
}
.bg-danger {
	background-color: #dc3545;
	color: #333;
}
.bg-white {
	background-color: #fff;
	color: #333;
	border: #ccc 1px solid;
}
.btn {
	display: inline-block;
	background: #f4f4f4;
	color: #333;
	padding: 0.4rem 1.3rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	margin-right: 0.5rem;
	outline: none;
	transition: all 0.2s ease-in;
}
.btn.btn-primary {
	background-color: #17a2b8;
	color: #fff;
}
.btn.btn-primary:hover {
	background: #1ab6cf;
}
.btn.btn-dark {
	background-color: #343a40;
	color: #fff;
}
.btn.btn-dark:hover {
	background: #3f474e;
}

.dark-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
	background-color: #fff;
	color: #181010;
}
a {
	text-decoration: none;
	color: #17a2b8;
}
ul {
	list-style: none;
}
img {
	width: 100%;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 2rem;
	position: fixed;
	z-index: 1;
	width: 100%;
	top: 0;
	border-bottom: solid 1px #17a2b8;
	opacity: 0.9;
}
.navbar ul {
	display: flex;
}
.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}
.navbar a:hover {
	color: #17a2b8;
}
.homepage {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: relative;
	height: 100vh;
}
.homepage-inner {
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* LOGIN FORM */

.login-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-form {
	color: var(--light-color);
	display: flex;
	flex-direction: column;

	/* width: 60%; */

	max-width: 800px;
	min-width: 300px;
}

.login-button {
	font-size: 1.5rem;
	width: 30%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.login-form .medium {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
.login-form input {
	font-size: 1.5rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.login-container p {
	color: var(--light-color);
}

/* REGSITER FORM */

.register-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.register-container p {
	color: var(--light-color);
}
.register-form {
	color: var(--light-color);
	display: flex;
	flex-direction: column;

	/* width: 60%; */

	max-width: 500px;
	min-width: 300px;
}

.register-button {
	font-size: 1.5rem;
	width: 30%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.register-form .medium {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
.register-form input {
	font-size: 1.5rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.small-text {
	font-size: 1rem;
}

.background {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.homepage-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* EDIT PROFILES FORM */

.edit-profile input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}

.edit-profile textarea {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}
.edit-profile input {
	font-size: 1rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

/* Profile.js */

.profile-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
}

.profile-container {
	border: #f4f4f4 solid 1px;
	color: var(--light-color);
	height: auto;
	min-height: 6;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 4rem auto;
	align-items: center;
	/* justify-content: center; */
	text-align: center;
	padding-top: 2rem;
	background-color: var(--dark-color);
	overflow: auto;
}

.profile-banner {
	display: flex;
	margin: 0 auto;
}
.profile-banner p {
	font-size: 3rem;

	text-align: center;
	margin: auto;
	margin-left: 3rem;
}

.profile-banner img {
	border: #17a2b8 1px solid;
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	font-size: 2rem;
	background-color: #0e1318;
}

.profile-info {
	/* border: #17a2b8 1px solid; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-top: 2rem;
}

.profile-info-section {
	/* padding: 1rem; */
	/* border: #17a2b8 1px solid; */
	height: auto;
	min-width: 40%;
	width: 400px;
	margin-bottom: 2rem;
}

.profile-info-section fieldset {
	/* border: #17a2b8 1px solid; */
	/* padding: 1rem 0; */
	width: 100%;
}

.profile-info-section fieldset p {
	padding: 0.2rem;
}

.heading {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.edit-profile {
	width: 80%;
	max-width: 1000px;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.fieldset-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.fieldset-container textarea {
	width: 80%;
}

.fieldset-container input {
	width: 80%;
}

.fieldset-container fieldset {
	border: #f4f4f4 solid 1px;
	padding: 1rem;
	width: 40%;
	margin: 1rem;
	min-width: 400px;
}

/* PROFILES PAGE */
.profiles-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 4rem;
}

.profiles {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	overflow: auto;
}

.small-profile {
	width: 40%;
	margin-bottom: 4rem;
	/* margin-right: 2rem; */
	border-radius: 2rem;
	padding: 1rem;
	min-width: 400px;
	background-color: #3f474e;
	display: flex;
}

.sm-pr-info {
	align-self: center;
	margin: 0 auto;
}

.sm-pr-field {
	margin-bottom: 1rem;
}

/* POSTS PAGES */

.posts-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #18191a;
	overflow: auto;
}

.submit-post {
	width: 80%;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	border-radius: 2rem;
	flex-direction: column;
}

.posts-inner {
	/* border: #f4f4f4 solid 1px; */
	color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 4rem auto;
	align-items: center;
	/* justify-content: center; */
	text-align: center;
	padding-top: 2rem;
}

.post-field {
	display: flex;
	padding: 1rem;
}

.post-image{
	/* width: 80%; */
	width: 90%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.subject {
	/* border:#2dbc4e solid 1px; */
	margin: 1rem;
	text-align: left;
	/* background-color: #626d78; */
}

.body {
	/* border:#2dbc4e solid 1px; */
	margin: 1rem;
	text-align: left;
	/* background-color: #626d78; */
	line-height: 1.5;
	white-space: pre-wrap;
}

.post-buttons {
	margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
}

.posts {
	margin-top: 1rem;
	width: 80%;
	background-color: #3f474e;
	
	border-radius: 2rem;
	/* border: #f4f4f4 solid 1px; */
}

.title-bar {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.medium-text {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.posts-inner textarea,
.posts-inner input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	width: 100%;
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}

.posts-inner textarea {
	height: 5rem;
}

.likes {
	margin-right: 3rem;
}

.profile-img {
	height: 200px;
	width: 200px;
	
}
.profile-img img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
}

.simple-file-container{
	width: 100px;
	
}
