:root {
	--primary-color: #17a2b8;
	--dark-color: #343a40;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

html {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

#background-video{
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	z-index: -1;
}



.warning {
	color: yellow;
	margin: 0 auto;
}

.alert {
	z-index: 1;
	width: 300px;

	padding: 0.5rem;
	margin: auto;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.alert-success{
	background: var(--success-color);
	color: #fff;
}

.x-large {
	font-size: 4rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.large {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.medium {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.normal {
	font-size: 1rem;
}

.small {
	font-size: 0.5rem;
}

.m-bottom {
	margin-bottom: 1rem;
}

.center-text {
	margin: 0 auto;
}

.btn {
	display: inline-block;
	background: #f4f4f4;
	color: #333;
	padding: 0.4rem .2rem;
	border: none;
	cursor: pointer;
	font-size: .7rem;
	margin-right: 0.2rem;
	outline: none;
	transition: all 0.1s ease-in;
}
.btn.btn-primary {
	background-color: #17a2b8;
	color: #fff;
}
.btn.btn-primary:hover {
	background: var(--dark-color);
}

.hover {
	cursor: pointer;
}
.hover:hover{
	
	color: var(--primary-color);
}

.hover-danger {
	cursor: pointer;
}
.hover-danger:hover{
	
	color: var(--danger-color);
}

.dark-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: auto;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

img {
	width: 100%;
}





.homepage {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: relative;
	height: 100vh;
}
.homepage-inner {
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* AUTH FORMS */

.auth-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.auth-container p {
	color: var(--light-color);
}
.auth-form {
	color: var(--light-color);
	display: flex;
	flex-direction: column;

	max-width: 500px;
	min-width: 300px;
}

.auth-form input::-webkit-input-placeholder{
	color: black;
	opacity: 0.4;
	
}
.auth-form input::-ms-input-placeholder{
	color: black;
	opacity: 0.4;
	
}

.auth-button {
	margin: 1rem auto;
	text-align: center;
}

.auth-form .medium {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
.auth-form input {
	font-size: 1.5rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

.background {
	background: url(./images/pexels-fauxels-3184183.jpg) no-repeat center
		center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.homepage-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* EDIT PROFILES FORM */

.edit-profile input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
	
}
.register-field input::-webkit-input-placeholder{
	color: white;
	opacity: .5;
}
.register-field input::-ms-input-placeholder{
	color: white;
	opacity: .5;
}

.register-field textarea::-webkit-input-placeholder{
	color: white;
	opacity: .5;
}
.register-field textarea::-ms-input-placeholder{
	color: white;
	opacity: .5;
}

.edit-profile textarea {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	/* width : 100%; */
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}


.edit-profile input {
	font-size: 1rem;
	width: 70%;
	margin: 1rem auto;
	padding: 0.2rem;
}

/* PROFILE PAGE */

.profile-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	overflow: auto;
}

.profile-container {
	border: #f4f4f4 solid 1px;
	color: var(--light-color);
	height: auto;
	min-height: 6;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
	background-color: var(--dark-color);
	overflow: auto;
}

.profile-banner {
	display: flex;
	margin: 0 auto;
	/* border:yellow 1px solid; */
	justify-content: center;
	
}

.profile-banner-info {
	/* border: #17a2b8 1px solid; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;
	margin-left: 2rem;
	
}



.profile-banner img {
	/* border: #17a2b8 1px solid; */
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	font-size: 2rem;
	background-color: #0e1318;
}



.profile-info {
	/* border: #17a2b8 1px solid; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	margin-top: 2rem;
}





.profile-info-section {
	/* padding: 1rem; */
	/* border: #17a2b8 1px solid; */
	height: auto;
	min-width: 40%;
	width: 400px;
	margin-bottom: 2rem;
}

.profile-info-section fieldset {
	/* border: #17a2b8 1px solid; */
	/* padding: 1rem 0; */
	width: 100%;
}

.profile-info-section fieldset p {
	padding: 0.2rem;
}

.heading {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.edit-profile {
	width: 80%;
	max-width: 1000px;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}

.fieldset-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.fieldset-container textarea {
	width: 80%;
}

.fieldset-container input {
	width: 80%;
}

.fieldset-container fieldset {
	border: #f4f4f4 solid 1px;
	padding: 1rem;
	width: 40%;
	margin: 1rem;
	min-width: 400px;
}

/* PROFILES PAGE */
.profiles-container {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3rem;
	color: var(--light-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 4rem;
}

.profiles {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	overflow: auto;
}

.profiles-inner {
	
	color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}

.small-profile {
	width: 40%;
	margin-bottom: 4rem;
	min-width: 400px;
	border-radius: 2rem;
	padding: 1rem;
	
	background-color: #3f474e;
	display: flex;
}

.sm-pr-info {
	
	align-self: center;
	margin: 0 auto;
	padding: 0 0.5rem;
}

.sm-pr-field {
	margin-bottom: 1rem;
}

.profile-link:hover{
	border:yellow 1px solid;
}

/* POSTS PAGES */

.post-pic-section{
	display: flex;
	justify-content: center;
	
}

.post-pic-current{
	display: flex;
	flex-direction: column;
	
}
.post-pic-img{
width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
	align-self: center;}

.posts-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #18191a;
	overflow: auto;
}

.submit-post {
	width: 80%;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	border-radius: 2rem;
	flex-direction: column;
}

.posts-inner {
	
	color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}

.main-posts {
	padding-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	overflow: auto;
}

.post-field {
	display: flex;
	padding: 1rem;
}

.post-image {
	
	width: 90%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.subject {
	display: flex;
	flex-direction: row;
	margin: 1rem;
	
	
	
	
}
.post-delete {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: auto;
	
	
	justify-content: space-evenly;
}
.poster-info{
	padding-left: 1rem;
	align-self: center;
}



.post-img-thumb {
	height: 120px;
	width: auto;
	align-self: center;
	
	display: flex;
}


.post-img-thumb img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
	align-self: center;
	
	
	
}

.body {
	margin: 1rem;
	text-align: left;

	line-height: 1.5;
	white-space: pre-wrap;
}

.post-buttons {
	margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
	padding-top: .2rem;
	

}

.posts {
	margin-top: 1rem;
	width: 80%;
	background-color: #3f474e;

	border-radius: 2rem;
	/* border: #f4f4f4 solid 1px; */
}





.posts-inner textarea,
.posts-inner input {
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	width: 100%;
	padding: 0 10px;
	margin: 0 1rem;
	box-sizing: border-box;
	border: none;
}

.posts-inner textarea {
	height: 5rem;
}

.likes {
	margin-right: 1rem;
}

.profile-img {
	height: 200px;
	width: auto;
	/* border: #17a2b8 1px solid; */
	align-self: center;
}


.profile-img img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
	
	
	
}

.simple-file-container {
	width: 100px;
}

.reaction-counters{
	display: flex;
}

.likes-counter{
	
	text-align: left;
	width: fit-content;
	margin-left: .5rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	
}
.likes-counter:hover{
	color: yellow;
}

.likes-display {
	color: yellow;
	background-color: var(--primary-color);
	position: absolute;
	padding: 0.25rem;
	border-radius: 10px;

	z-index: 1;
}

.fa-solid{
	font-size: 1rem;
	
}
.fa{
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	font-size: 1rem;
}

@media only screen and (max-width: 600px) {
	html {
		font-size: 14px;
		
	}

	

	

	.profiles-container {
		background-color: rgba(0, 0, 0, 0.6);
		font-size: 3rem;
		color: var(--light-color);
		height: 100%;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-top: 4rem;
	}
	.small-profile {
		
		margin-bottom: 2rem;
		width: 90%;
		min-width:300px;
		border-radius: 2rem;
		padding: 1rem;
		
		/* background-color: #3f474e; */
		display: flex;
		
	}

	
	.sm-pr-info {
		
		align-self: center;
		margin: 0 auto;
		padding: 0 0.5rem;
	}
	.profile-img {
		height: 120px;
		width: 120px;
	}
	.profile-img img {
		width: 120px;
		height: 120px;
		object-fit: cover;
		object-position: center;
		border-radius: 2rem;
	}
.profiles-inner {
		
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 4rem auto;
		
		
		text-align: center;
		padding-top: 2rem;
	}
	.profiles {
		padding-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		justify-content: space-around;
		overflow: auto;
	}

	

	.img-thumb{
		min-width: 75px;
		min-height: 75px;
		height: 75px;
		width: 75px;
		background-color: var(--primary-color);
	}


	
	.profile-banner-info p {
		
	/* border: #17a2b8 solid 1px; */
		text-align: center;
		margin: auto;
		margin-right: 0 auto;
		max-width: 100%;
		
	}

	.profile-banner {
		display: flex;
		margin: 0 auto;
		/* border:yellow 1px solid; */
		justify-content: center;
		
		
	}
	
	.profile-banner-info {
		/* border: blue 1px solid; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* max-width: 50%; */
		margin-left: 1rem;
		text-align: center;
		
	}
	
	
	
	

	.margin-top{
		margin-top: 10rem;
	}
	
	.profile-banner img {
		/* border: #17a2b8 1px solid; */
		min-width: 125px;
		max-width: 125px;
		min-height: 125px;
		font-size: 2rem;
		/* background-color: #0e1318; */
		margin-right: 2rem;
	}

	/* POSTS */

	.posts-inner {
	
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 4rem auto;
		align-items: center;
		
		text-align: center;
		padding-top: 2rem;
	}
	.notifications-display {
		color: --light-color;
		background-color: var(--dark-color);
		position: absolute;
		top: 7rem;
		right: 4rem;
		font-size: 1rem;
		padding: 0.25rem;
		border-radius: 10px;
		border: #17a2b8 1px solid;
	
		z-index: 1;

	}


	
	


}
