.submit-post {
	width: 80%;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	border-radius: 2rem;
	flex-direction: column;
}

.post-field {
	display: flex;
	padding: 1rem;
}

.post-pic-section{
	display: flex;
	justify-content: center;
	
}

.post-pic-current{
	display: flex;
	flex-direction: column;
	
}
.post-pic-img{
width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 2rem;
	align-self: center;
}


  .post-buttons {
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-align: right;
    padding-top: .2rem;
    
  
  }

	.mentions-styling{
		width: 90%;
		height: 6rem;
		background-color: rgb(98, 109, 120);
		margin: 0 auto;
		overflow: auto;
		color: yellow;
	}

	#placeholder::placeholder{
		color: white;
		opacity: 0.5;
	}

	.mentions-styling__suggestions{
		background-color: #3f474e !important;
		position: fixed !important;
		
		border-radius: 10px;
		top: 22rem !important;
		left: 3rem !important;
		width: 15rem;
		
		color: yellow;
		max-height: 300px;
		overflow: scroll;
	}
	
