.comment{
    margin: 1rem auto;
	width: 80%;
	
background-color: #626D78 !important;
	border-radius: 2rem;
	
}

.comment-banner{
    display: flex;
	flex-direction: row;
	margin: 1rem;
}

.comment-body{
    margin: 1rem;
	text-align: left;

	line-height: 1.5;
	white-space: pre-wrap;
	padding-bottom: 1rem;
}

.comment-buttons{
    margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
	padding-top: .2rem;
}