.submit-comment{
    width: 80%;
	background-color: #3f474e;
	/* border: #f4f4f4 solid 1px; */
	display: flex;
	border-radius: 2rem;
	flex-direction: column;
}

.comment-field{
    display: flex;
	padding: 1rem;
}

.post-buttons{
    margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
	padding-top: .2rem;
}