.edit-post-form{
    background: url(../../images/pexels-fauxels-3184183.jpg) no-repeat center
    center/cover;
position: relative;
height: 100vh;
}

.overlay{
    height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #18191a;
	overflow: auto;
}

.epf-inner{
    color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}

.edit-post-field textarea
{
	font-family: inherit;
	font-size: 100%;
	background-color: #626d78;
	color: #f4f4f4;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	box-sizing: border-box;
	border: none;
}

.epf-post{
    margin-top: 1rem;
	width: 80%;
	background-color: #3f474e;

	border-radius: 2rem;
	/* border: #f4f4f4 solid 1px; */
}

.subject{
    display: flex;
	flex-direction: row;
	margin: 1rem;
}

.edit-post-field{
    margin: 1rem;
	text-align: left;
border: white 1px solid;
	line-height: 1.5;
	white-space: pre-wrap;
}

.epf-buttons{
    margin-bottom: 1rem;
	margin-right: 2rem;
	text-align: right;
	padding-top: .2rem;
}

@media only screen and (max-width: 600px) {

    .epf-inner {
	
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 4rem auto;
		align-items: center;
		
		text-align: center;
		padding-top: 2rem;
	}
}
