.background{
    background-color: #18191a;
position: relative;
height: 100vh;
}
.posts-overlay{
    height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(24, 25, 26, 0.0);
	overflow: auto;
}
.posts-inner{
    color: var(--light-color);
	height: auto;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 4rem auto;
	align-items: center;
	
	text-align: center;
	padding-top: 2rem;
}
.posts{
  padding-top: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	overflow: auto;
	
}

/* @media only screen and (max-width: 600px) {

    .profiles-inner {
		
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 4rem auto;
		
		
		text-align: center;
		padding-top: 2rem;
	}
	.profiles {
		padding-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		justify-content: space-around;
		overflow: auto;
	}
    .posts-inner {
	
		color: var(--light-color);
		height: auto;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 4rem auto;
		align-items: center;
		
		text-align: center;
		padding-top: 2rem;
	}
} */